<<<<<<< HEAD
.carte {
  $image-width: 400px;
  $image-height: 285px;
  $frame-width: 5px;

    img {

      object-fit: cover;

    }

}
=======
.carte {
  $image-width: 400px;
  $image-height: 285px;
  $frame-width: 5px;

    img {

      object-fit: cover;

    }

}
>>>>>>> 9451f97aeaacb3f0b1b69ab8191782c0f760dd52
