<<<<<<< HEAD
nav {
    background-color: rgb(255, 255, 255);
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

.nav-item {
    border-radius: 1%;
    transition:all 200ms;
    transition-timing-function: ease-out;
    &:hover {
        transform: scale(1.05);
    }
}
=======
nav {
    background-color: rgb(255, 255, 255);
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

.nav-item {
    border-radius: 1%;
    transition:all 200ms;
    transition-timing-function: ease-out;
    &:hover {
        transform: scale(1.1);
    }
}
>>>>>>> 9451f97aeaacb3f0b1b69ab8191782c0f760dd52
