<div class="container">
    <div class="row justify-content-center">
        <div class="card m-3" style="width: 60rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item textbold">Ajouter un type de cuisine</li>
                <li class="list-group-item">
                    <form class="m-3" (submit)="enregistrer()" [formGroup]="typeForm">
                        <div class="mb-3">
                            <label for="nom" class="form-label text">Nom</label>
                            <input formControlName="nom" class="form-control" id="nom" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-light textbold rounded-0 mt-2">Enregistrer</button>
                    </form>
                    <div class="mb-3 text">
                        {{texte}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>