<div class="container homepage-container">
  <div class="row justify-content-center">
    <div class="card m-3" style="width: 60rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item textbold">Ajouter un restaurant</li>
        <li class="list-group-item">
          <form class="m-3" (submit)="enregistrer()" [formGroup]="restoForm">
            <div class="mb-3">
              <label for="nom" class="form-label text">Nom</label>
              <input formControlName="nom" class="form-control" id="nom" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label text">Adresse</label>
              <input formControlName="adresse" class="form-control" id="adresse">
            </div>

            <div class="mb-3">
              <label for="arrondissement" class="form-label text">Arrondissement</label>
              <select formControlName="arrondissement" id="arrondissement" class="form-select text"
                aria-label="Default select example">
                <option selected>Sélectionner un arrondissement</option>
                <option value="{{arr.id}}" *ngFor="let arr of arrs">{{arr.numero}}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="tel" class="form-label text">Tel</label>
              <input formControlName="tel" class="form-control" id="tel">
            </div>

            <div class="mb-3">
              <label for="image" class="form-label text">Photo</label>
              <input formControlName="image" class="form-control" id="image">
            </div>

            <div class="mb-3">
              <label for="type" class="form-label text">Type</label>
              <select formControlName="type" id="type" class="form-select text" aria-label="Default select example">
                <option selected>Sélectionner un type</option>
                <option value="{{type.id}}" *ngFor="let type of types">{{type.nom}}</option>
              </select>
            </div>

            <div class="form-check col text" *ngFor="let prix of prixs">
              <input class="form-check-input" formControlName="prix" type="radio" id="prix_{{prix.categorie}}"
               [value]="prix.id">
              <label class="form-check-label" for="prix_{{prix.categorie}}">
                <div *ngIf="prix.categorie == 'e'">
                  <i class="fa-solid fa-euro-sign"></i>
                </div>
                <div *ngIf="prix.categorie == 'ee'">
                  <i class="fa-solid fa-euro-sign"></i>
                  <i class="fa-solid fa-euro-sign"></i>
                </div>
                <div *ngIf="prix.categorie == 'eee'">
                  <i class="fa-solid fa-euro-sign"></i>
                  <i class="fa-solid fa-euro-sign"></i>
                  <i class="fa-solid fa-euro-sign"></i>
                </div>
              </label>
            </div>

            <button type="submit" class="btn btn-light textbold rounded-0 mt-2">Enregistrer</button>
          </form>
          <div class="mb-3 text">
            {{texte}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
