

img {
    max-height: 60%;
    max-width: 100%;
    object-fit: scale-down;
  }
  
  .imgbutton {
    transition-property: transform;
    transition-duration: 200ms;
    &:hover {
        transform: scale(1.10);
    }
  }
  