<<<<<<< HEAD

ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.btn-default {
    transition-property: transform;
    transition-duration: 200ms;
    &:hover {
        transform: scale(1.15);
    }
}

.carousel {
  min-width: 100%;
}

=======

ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-default {
    transition-property: transform;
    transition-duration: 200ms;
    &:hover {
        transform: scale(1.15);
    }
}

>>>>>>> 9451f97aeaacb3f0b1b69ab8191782c0f760dd52
