<h4 class="d-flex m-3 justify-content-center text mt-3">Cliquez sur un type de cuisine pour voir les restaurants associés</h4>
<br>
<div class="container mt-4">
  <div class="row">
    <button class="btn btn-default col text" [routerLink]="['/type/', 1]">
      <img
        src="https://images.unsplash.com/photo-1615327631885-bca9e5798b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y3Vpc2luZSUyMGZyYW4lQzMlQTdhaXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Français</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 2]">
      <img
        src="https://images.unsplash.com/photo-1624224701172-8499296e2cdd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGN1aXNpbmUlMjBqYXBvbmFpc2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Japonais</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 3]">
      <img
        src="https://images.unsplash.com/photo-1583224944844-5b268c057b72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a2ltY2hpfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Coréen</p>
    </button>
  </div>

  <div class="row">
    <button class="btn btn-default col text" [routerLink]="['/type/', 4]">
      <img
        src="https://images.unsplash.com/photo-1544601284-7fe39c93d4d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y3Vpc2luZSUyMGNoaW5vaXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Chinois</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 5]">
      <img
        src="https://images.unsplash.com/photo-1621538997517-58ce53933faa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emElMjByZXN0YXVyYW50fGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Italien</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 6]">
      <img
        src="https://images.unsplash.com/photo-1588166524941-3bf61a9c41db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG91bGV0JTIwY3Vycnl8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Indien</p>
    </button>
  </div>

  <div class="row">
    <button class="btn btn-default col text" [routerLink]="['/type/', 7]">
      <img
        src="https://images.unsplash.com/photo-1591120583691-49d2741e55da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y3Vpc2luZSUyMGxpYmFuYWlzZXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Libanais</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 8]">
      <img
        src="https://images.unsplash.com/photo-1626238328324-d55282264212?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aXJhbmlhbiUyMGZvb2R8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Iranien</p>
    </button>

    <button class="btn btn-default col text" [routerLink]="['/type/', 9]">
      <img
        src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZWslMjBmb29kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        style="width:200px;height:240px;">
      <p>Grec</p>
    </button>
  </div>
</div>

