img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.btn-default {
  transition-property: transform;
  transition-duration: 200ms;
  &:hover {
      transform: scale(1.15);
  }
}
